<p>Hello {{ user.first_name }},</p>

<p>An administrator has manually changed your password for <b>Pronounce Web</b>.</p>

<p>Your <b>NEW Password</b> is:</p>
<h3 style="color: #d9534f;">{{ new_password }}</h3>

<p>Please login and change this password immediately if you wish.</p>

<p><a href="{{ url_for('auth.login', _external=True) }}">Click here to Login</a></p>

<p>If you did not request this change, please contact your administrator immediately.</p>

<p>Best regards,<br>
    Pronounce Web Team</p>